/*$link-color: $red-100;
$nav-link-color: $blue-200;
$nav-child-link-color: $blue-200;
$sidebar-color: $green-000;
*/

//$body-text-color: #112D32;
//$body-heading-color: #114F32;
$nav-child-link-color: $blue-100;
$link-color: $blue-100;
$sidebar-color: #88BDBC;
//$body-background-color: #88BDBC;
